.displayflex {
    display:flex;
    justify-content: center;
    align-items: center;
}

.case {
    width:70px;
    height:70px;
    padding:25px;
    border: 1px solid;
    text-align: center;
    line-height: 50px; // to vertically center
}

.displayCenter {
    display:block;
    justify-content: center;
    align-items: center;
}

.margin {
    padding-bottom: 10px;
}

.numcase {
    position: relative;
    display: inline-block;
    right: 39px;
    bottom: 44px;
    font-size:10px
}